
dependency-reduced-pom.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/aws.xml
.idea/.name
.aws-sam/temp-template.yaml
.idea/vcs.xml
target/classes/com/app/covidfetcher/service/WebScraper.class
target/classes/Main.class
target/Covid19Fetcher-1.0-SNAPSHOT-shaded.jar
target/Covid19Fetcher-1.0-SNAPSHOT.jar
target/maven-archiver/pom.properties
target/original-Covid19Fetcher-1.0-SNAPSHOT.jar
.idea/workspace.xml
.idea/libraries/Maven__com_amazonaws_aws_lambda_java_core_1_1_0.xml
.idea/libraries/Maven__com_amazonaws_aws_lambda_java_events_2_2_7.xml
.idea/libraries/Maven__com_shapesecurity_salvation2_3_0_0.xml
.idea/libraries/Maven__com_typesafe_netty_netty_reactive_streams_2_0_5.xml
.idea/libraries/Maven__com_typesafe_netty_netty_reactive_streams_http_2_0_5.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
.idea/libraries/Maven__commons_io_commons_io_2_10_0.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_net_commons_net_3_8_0.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_http2_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_http_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_common_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_handler_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_resolver_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_63_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_63_Final.xml
.idea/libraries/Maven__joda_time_joda_time_2_6.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_2_52_0.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_core_js_2_52_0.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_cssparser_1_9_0.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_neko_htmlunit_2_52_0.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
.idea/libraries/Maven__org_apache_commons_commons_text_1_9.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_13.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_11.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_13.xml
.idea/libraries/Maven__org_brotli_dec_0_1_2.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_43_v20210629.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_43_v20210629.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_43_v20210629.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_43_v20210629.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_43_v20210629.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_43_v20210629.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_43_v20210629.xml
.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
.idea/libraries/Maven__software_amazon_awssdk_annotations_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_apache_client_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_auth_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_aws_core_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_aws_query_protocol_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_http_client_spi_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_json_utils_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_metrics_spi_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_netty_nio_client_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_profiles_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_protocol_core_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_regions_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_sdk_core_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_sns_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_third_party_jackson_core_2_17_14.xml
.idea/libraries/Maven__software_amazon_awssdk_utils_2_17_14.xml
.idea/libraries/Maven__software_amazon_eventstream_eventstream_1_0_1.xml
.idea/libraries/Maven__xalan_serializer_2_7_2.xml
.idea/libraries/Maven__xalan_xalan_2_7_2.xml
.idea/libraries/Maven__xerces_xercesImpl_2_12_0.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_4_01.xml
.idea/modules.xml
Covid19Fetcher.iml
